<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ site.title | smartify }}</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ site.title | smartify}}">
    <meta property="og:site_name" content="ActOnMass">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    {% for style in page.styles %}
      <link rel="stylesheet" href="{{style}}">
    {% endfor %}
  </head>
  <body>
      {% include header.html %}
      {{content}}
  </body>
</html>
