<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include google-analytics.html %}
    <title>{{ site.title | smartify }}</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ site.title | smartify}}">
    <meta property="og:site_name" content="MAClimateDemocracy.org">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}{{ site.social_sharing_img}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    {% for style in page.styles %}
      <link rel="stylesheet" href="{{style}}">
    {% endfor %}
    <script defer type="text/javascript" src="/js/bundle.js"></script>
    <script defer type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
  </head>
  <body>
      {% include header.html %}
      {{content}}
  </body>
</html>
