---
layout: base
---

<main>
  <div class="actonmass anima-word-break">
    <div class="rectangle"></div>
    <section class="headline">
      <div class="section-container">
        <div class="a100renewablestr">
          100% RENEWABLES &amp; TRANSPARENT LEADERSHIP
        </div>
      </div>
    </section>
    <section class="the-problem">
      <div class="section-container cbox">
        <p style="font-size: 1.5rem;">
          PLEASE SIGN to help us get two important questions on the ballot!<br />
          <span style="font-size: 1.2rem;">
            <ol>
              <li>You will need to select your correct State Representative District
            to sign.<br />
            If you aren't certain what district you live in, you can easily look
            it up here:</span><br/>
        </p>
            <a href="https://malegislature.gov/Search/FindMyLegislator"target="_blank">Click here to look up your State Rep District</a>
          <br/></li>
      <li>Then select your district in the dropdown below</li></ol>
        {% include district-dropdown.html id='district-dropdown-1' %}
        <br /><br>
        <div class="theproblem">
          THE PROBLEM
        </div>
        <div class="staterepresentative">
          State Representatives tell us they support <br />100% renewables, but
          then the bill dies in committee. <br />How did they actually vote? No
          one knows!
        </div>
      </div>
    </section>
    <section class="tofight">
      <div class="section-container">
        <div class="tofightthisweu2019re">
          <span class="span1">To fight this, we’re </span
          ><span class="span2">proposing</span><span class="span3"> </span
          ><span class="span4">two ballot measures</span
          ><span class="span5">:</span>
        </div>
        <div class="rectangle3"></div>
      </div>
    </section>
    <section class="voting">
      <div class="section-container hbox">
        <div class="cbox">
          <img
            alt="Image"
            anima-src="{{page.img_folder}}act-on-mass-vote-3@2x.png"
            class="vote3"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
          <div class="transparentvoting">
            Transparent voting
          </div>
          <div class="sorepsknowwecan">
            so Reps know we can hold them accountable
          </div>
        </div>
        <div class="group13">
          <div class="rectangle5"></div>
          <img
            alt="Image"
            anima-src="{{page.img_folder}}maclimated-democracy-triangle@2x.png"
            class="triangle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
        </div>
        <div class="cbox">
          <img
            alt="Image"
            anima-src="{{page.img_folder}}act-on-mass-renew-3@2x.png"
            class="renew3"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
          <div class="a100renewables">
            100% Renewables
          </div>
          <div class="withajusttransiti">
            with a just transition
          </div>
        </div>
      </div>
    </section>
    <section class="these-will-pass">
      <div class="section-container cbox">
        <div class="thesewillpasswith">
          <span class="span1">These will pass with </span
          ><span class="span2">broad support</span
          ><span class="span3"> so we can push for</span
          ><span class="span4"> broad reform</span><span class="span5">. </span>
        </div>
        <div class="thenboldclimatea">
          Then, bold climate action and other popular legislation <br />will
          have a fighting chance in the statehouse.
        </div>
      </div>
    </section>
    <section class="form" id="sign">
      <div class="section-container cbox">
        <div class="joinusbysigningt">
          JOIN US BY SIGNING THE PETITION FORMS
        </div>
        <p>
          PLEASE SIGN to help us get two important questions on the ballot!<br />
          You will need to select your correct State Representative District to
          sign.<br />
          If you aren't certain what district you live in, you can easily look
          it up here:<br />
        </p>
        <a
          href="https://malegislature.gov/Search/FindMyLegislator"
          target="_blank"
          >Click here to look up your State Rep District</a
        >
        <br/>
        {% include district-dropdown.html id='district-dropdown-2' %}
        <div class="ifyouhaveanyques">
          <span class="span1">If you have any questions, email </span
          ><span class="span2"
            ><a href="mailto:BallotQuestion@BetterFutureProject.org"
              >BallotQuestion@BetterFutureProject.org</a
            ></span
          >
        </div>
      </div>
    </section>
    <section class="next-steps">
      <div class="section-container">
        <div class="nextsteps">
          NEXT STEPS
        </div>
        <div class="hbox next-step-actions">
          <div class="cbox">
            <div class="group9 action-logo">
              <img
                alt="Image"
                anima-src="{{page.img_folder}}maclimated-democracy-oval-3@2x.png"
                class="oval"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
              />
              <img
                alt="Image"
                anima-src="{{page.img_folder}}maclimated-democracy-oval-4@2x.png"
                class="oval1"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
              />
              <div class="rectangle5"></div>
            </div>
            <div class="learnmoreatactonm">
              <span class="span1">Learn more at<br /></span
              ><span class="span2"
                ><a href="/info">{{page.formatted_url}}/info</a></span
              >
            </div>
          </div>
          <div class="cbox">
            <img
              alt="Image"
              anima-src="{{page.img_folder}}act-on-mass-mail-3@2x.png"
              class="mail3 action-logo"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <div class="sendthistoyourfr">
              Send this to your <br />friends and family
            </div>
          </div>
          <div class="cbox">
            <div class="group4 action-logo">
              <div class="group7">
                <div class="rectangle7"></div>
              </div>
              <div class="rectangle6"></div>
              <div class="rectangle11"></div>
              <div class="rectangle21"></div>
              <div class="rectangle31"></div>
              <div class="rectangle41"></div>
              <div class="rectangle5"></div>
            </div>
            <div class="signuptovolunteer">
              <span class="span1">Sign up to volunteer <br />at </span
              ><span class="span2"
                ><a href="/vol">{{page.formatted_url}}/VOL</a></span
              >
            </div>
          </div>
          <div class="cbox">
            <img
              alt="Image"
              anima-src="{{page.img_folder}}maclimated-democracy-donate-3@2x.png"
              class="donate3 action-logo"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <div class="donatetoactonmas">
              <span class="span1">Donate to </span
              ><span class="span2"
                ><a href="https://secure.actblue.com/donate/act-on-mass"
                  >Act On Mass</a
                ></span
              ><span class="span3"> &amp; <br /></span
              ><span class="span4"
                ><a
                  href="https://www.betterfutureaction.org/350massactiondonate"
                  >350 Mass</a
                ></span
              ><span class="span5"> if you are able</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
