---
layout: base
---

<div class="default cbox">
  <main>
    {%if page.form_type == "climate"%}

    <!-- Specific HTML for climate pages -->
    <p>Massachusetts is the national leader in so many areas, but not in fighting climate change.  
  
    <p>Scientists tell us we must take "rapid, far-reaching and unprecedented changes in all aspects of society" to avoid the worst of the climate crisis.  Then why don't we have a state law telling us how to get to 100% renewable energy?  Help our state's elected leaders get the message: you care about the future of our home, and you want bold action taken to fight climate change, starting NOW.  

    <p>Sign here.
    
    {% else %}

    <!-- Specific HTML for transparency pages -->

    {% endif %}

    <div class="cbox">
      <img alt="First page of the petition" class="form-doc" src="/assets/forms/{{page.doc_img}}-1.JPEG" />
    </div>
    <div class="cbox">
      <img alt="Second page of the petition" class="form-doc" src="/assets/forms/{{page.doc_img}}-2.JPEG" />
    </div>
    <script
      type="text/javascript"
      src="https://form.jotform.com/jsform/{{page.form_id}}"
    ></script>

  </main>
</div>


