---
layout: default
---

{%if page.form_type == "climate"%}

<!-- Specific HTML for climate pages -->
<h1>Sign our first question: 1 of 2</h1>
<p>
  Massachusetts is the national leader in so many areas, but not in fighting
  climate change.
</p>
<p>
  Scientists tell us we must take "rapid, far-reaching and unprecedented changes
  in all aspects of society" to avoid the worst of the climate crisis. Then why
  don't we have a state law telling us how to get to 100% renewable energy? Help
  our state's elected leaders get the message: you care about the future of our
  home, and you want bold action taken to fight climate change, starting NOW.
</p>
<p>Sign here.</p>

{% else %}
<h1><strong>Sign our second question on transparency: 2 of 2</strong></h1>
<p>
  Massachusetts is in the minority of states that doesn't require
  representatives' votes taken in committee to be made public. Bold action and
  forceful law-making requires robust transparency, which we don't have. We need
  rules that allow us to hold our representatives accountable.
</p>
<p>Tell them that these house rules need to change, starting NOW.</p>
<p>Sign here.</p>

<!-- Specific HTML for transparency pages -->

{% endif %}

<div class="cbox">
  <img
    alt="First page of the petition"
    class="form-doc"
    src="/assets/forms/{{page.doc_img}}-1.JPEG"
  />
</div>
<div class="cbox">
  <img
    alt="Second page of the petition"
    class="form-doc"
    src="/assets/forms/{{page.doc_img}}-2.JPEG"
  />
</div>
<script
  type="text/javascript"
  src="https://form.jotform.com/jsform/{{page.form_id}}"
></script>

{%if page.form_type == "climate"%}
<h2>
  <strong
    >After you click submit you need to sign the second petition as well. Thank
    you!</strong
  >
</h2>
{% else %}
<h2>
  <strong
    >After you click submit Please wait for the success page. Thank you!</strong
  >
</h2>
{% endif %}
