---
layout: base
---

<div class="default cbox">
  <main>
    {%if page.form_type == "climate"%}

    Specific HTML for climate pages

    {% else %}

    Specific HTML for transparency pages

    {% endif %}

    <div class="cbox">
      <img class="form-doc" src="/assets/forms/{{page.doc_img}}-1.JPEG" />
    </div>
    <div class="cbox">
      <img class="form-doc" src="/assets/forms/{{page.doc_img}}-2.JPEG" />
    </div>
    <script
      type="text/javascript"
      src="https://form.jotform.com/jsform/{{page.form_id}}"
    ></script>

  </main>
</div>


